:root {
    --line-color1: #008000;
    --line-color2: gold;
    --line-color3: #ff8c00;
    --line-color4: #ff0000;
    --line-color5: black;
    --text-color-black: #2d2929;
    --text-color-white: #ffffff;
    --thermometer-background: #008000;
    --progress-width: 0%;
    --container-width: 0%;
}

html {
    font-size: 14px;   
    font-family: 'Lato', sans-serif;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;   
    }
}

body {
    margin-bottom: 60px;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #316de5;
}

nav {
    background-color: #316de5;
    width: 100%;
}

td, th {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 12px;
}

th {
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 8px;
    background-color: white;
    color: #316de5;
}

/* Structural classes */

.custom-container {
    width: var(--container-width);
    margin: 0 auto 0 auto;
}

.toolbar {
    list-style-type: none;
    overflow: hidden;
}

    .toolbar li {
        float: left;
        margin-right: 50px;
    }

        .toolbar li span {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            background-color: #316de5 !important;
        }

            .toolbar li span:hover, #setupLink:hover {
                background-color: #d5e1f8 !important;
                color: black !important;
                cursor: pointer;
                text-decoration: none;
            }


.page-wrapper-grid {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-rows: 30% 70%;
}

.content-top {
    display: grid;
    grid-template-rows: 39% 61%;
}

.table-horizontal {
    display: flex;
    flex-direction: row;
}

    .table-horizontal td, .table-horizontal th {
        padding: 12px;
    }

.top-row-2 {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 45% 55%;
}

.content-bottom-double {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 50% 50%;
}

.showBlock {
    display: block !important;
}

.hidden-view {
    display: none;
}

/* Keylog monitoring area */

.monitorSpace {
    overflow-y: scroll;
    height: 60vh;
}

#displayArea {
    margin: 0 30px 30px 0;
    background-color: white;
    font-size: 18px;   
}

/* popup */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 500px;
    height: 500px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    /*font-family: "Open Sans",sans-serif;*/
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

/*Thermometer*/

.low-threat {
    background-color: var(--line-color1) !important;
}

.elevated-threat {
    background-color: var(--line-color2) !important;
}

.moderate-threat {
    background-color: var(--line-color3) !important;
}

.high-threat {
    background-color: var(--line-color4) !important;
}

.critical-threat {
    background-color: var(--line-color5) !important;
}

#progressWrapper {
    height: 40px;
    border: 2px solid black;
}

.custom-progress {
    width: 100%;
}

#threatIndicator {
    height: 30px;
    padding: 5px;
    margin: auto 0 auto 0;
    width: var(--progress-width);
}

/*form styles */

.form-list {
    display: flex;
    flex-direction: column;
}

.form-text-blue {
    color: #316de5;
    font-size: 18pt;  
}

.form-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.no-space {
    justify-content: normal;
}

.reload {
    font-family: 'Lucida Sans Unicode';
}

#hoursSelector {
    padding-left: 50px;
}

#terminateForm {
    padding: 35px 0 20px 0;
}

/* deployment menu */



.text-running {
    color: green;
    font-weight: bolder;
}

.text-stopped {
    color: red;
    font-weight: bolder;
}

.text-pending {
    color: orange;
    font-weight: bolder;
}

.text-termiating {
    color: red;
    font-weight: bolder;
}

.text-available {
    color: lightgreen;
    font-weight: bolder;
}

.text-black {
    color: black;
    font-weight: bolder;
}

#deployResourceMenu th {
    text-align:center;
}
