/*:root {
    --left-offset: 10px;
}

*/
html {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white; 
}

h1, h2, h3, h4, h5, h6 {
    color: #316de5;
}

nav {
    background-color: #316de5;
}

.page-wrapper-grid {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-rows: 30% 70%;
}

.content-top {
    display: grid;
    grid-template-rows: 39% 61%;
}

.top-row-2 {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 45% 55%;
}


.content-bottom-double {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 60% 40%;
}

#displayArea {
    margin: 0 30px 30px 0;
    background-color: white;
    font-size: 18px;
}

    /*#displayArea td, #displayArea th*/ td, th {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 12px;
    }

.toolbar {
    list-style-type: none;
    /*padding-left: var(--left-offset);*/
    overflow: hidden;
}

    .toolbar li {
        float: left;
        margin-right: 50px;
    }

        .toolbar li span {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            background-color: #316de5 !important;
        }

            .toolbar li span:hover, #setupLink:hover {
                background-color: #d5e1f8 !important;
                color: black !important;
                cursor: pointer;
                text-decoration: none;
            }


.monitorSpace {
    overflow-y: scroll;
}

.monitorSpace {
    height: 60vh;
}

    /*.monitorSpace thead th*/ th {
        position: sticky;
        z-index: 1;
        top: 0;
        padding: 8px;
        background-color: white;
        color: #316de5;
    }

/* popup */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 500px;
    height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

/*Thermometer*/

:root {
   /* --chart-bg-color: rgba(211, 211, 211, .3);
    --chart-line-color: black;
    --chart-x-color: white;*/
    --line-color1: #008000;
    --line-color2: gold;
    --line-color3: #ff8c00;
    --line-color4: #ff0000;
    --line-color5: black;
    --text-color-black: #2d2929;
    --text-color-white: #ffffff;
    --thermometer-background: #008000;
    --progress-width: 0%;
}

/*ul {
    list-style: none;
}


.chart-wrapper {
    display: grid;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-template-columns: auto auto;
    border: outset 5px #d5e1f8;
    padding-right: 20px;
    background-color: #ffffff;
    overflow: scroll;
    -ms-overflow-style: none;*/ /* IE and Edge */
    /*scrollbar-width: none;*/ /* Firefox */
/*}*/
    /* Hide scrollbar for Chrome, Safari and Opera */

/*.chart-wrapper::-webkit-scrollbar { 
    display: none;
}

    .chart-wrapper .chart-y {
        position: relative;
        width: 75px;
        overflow: hidden;
    }
    

    .chart-wrapper .chart-x {
        position: relative;
        width: 50px;
        border-radius: 25px;
        border: 4px solid var(--chart-line-color);
        overflow: hidden;
    }


#LowTherm, #ElevatedTherm, #ModerateTherm, #HighTherm, #CriticalTherm {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


.thermBlackText::before {
    content: attr(points);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-top: 4px solid;
    width: 20px;
    opacity: 1;
    padding-left: 3px;
    color: var(--text-color-black);
    font-weight: bold;
    font-size: 0.75rem;
}

.thermWhiteText::before {
    content: attr(points);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-top: 4px solid;
    width: 20px;
    opacity: 1;
    padding-left: 3px;
    color: var(--text-color-white);
    font-weight: bold;
    font-size: 0.75rem;
}

#LowTherm::before {
    border-color: var(--line-color1);
}

#ElevatedTherm::before {
    border-color: var(--line-color2);
}

#ModerateTherm::before {
    border-color: var(--line-color3);
}

#HighTherm::before {
    border-color: var(--line-color4);
}

#CriticalTherm::before {
    border-color: var(--line-color5);
}

.showWhiteText {
    color: var(--text-color-white) !important;
}

.filled {
    opacity: 1;
    background-color: var(--thermometer-background);
}

#LowTherm, #low-level {
    height: 15%;
}

#ElevatedTherm, #elev-level {
    height: 35%;
}

#ModerateTherm, #mod-level {
    height: 50%;
}

#HighTherm, #high-level {
    height: 72%;
}

#CriticalTherm, #crit-level {
    height: 95%;
}

#crit-level, #high-level, #mod-level, #elev-level, #low-level {
    position: absolute;
    left: 0;
    bottom: 0;
}*/



/*#setupLink {
    text-decoration: none;
    color: white;
}*/

.showBlock{
    display: block !important;
}

.hidden-view {
    display: none;
}

.low-threat {
    background-color: var(--line-color1) !important;
}
.elevated-threat {
    background-color: var(--line-color2) !important;
}
.moderate-threat {
    background-color: var(--line-color3) !important;
}
.high-threat {
    background-color: var(--line-color4) !important;
}
.critical-threat {
    background-color: var(--line-color5) !important;
}

#progressWrapper {
    height: 40px;
    border: 2px solid black;
}

#threatIndicator {
    height: 30px;
    padding: 5px;
    margin: auto 0 auto 0;
    width: var(--progress-width);
}

.form-list {
    display: flex;
    flex-direction:column;
}

.form-text-blue {
    color:#316de5 ;
    font-size: 18pt;
}

.text-running {
    color: green;
    font-weight: bolder;
}

.text-stopped {
    color: red;
    font-weight: bolder;
}

.text-pending {
    color: orange;
    font-weight: bolder;
}

.text-termiating {
    color: red;
    font-weight: bolder;
}

.text-available {
    color: lightgreen;
    font-weight: bolder;
}

.text-black {
    color: black;
    font-weight: bolder;
}