@page
@model IndexModel
@{
    ViewData["Title"] = "Attack Monitoring Console";
}
<nav>
    <ul class="Button" id="buttons">
        <li><span id="setup">Set Up WorkSpace</span></li>
        <li><span id="saveLog">Save Log</span></li>
        <li><span id="terminate">Terminate Environment</span></li>
    </ul>
</nav>

<div class="container" id="topContent">
    <br />
    <br />
    <h1>Attack Monitoring Console</h1>
    <br />
    <br />
</div>
<div class="container">
    <div class="content-bottom">
        <div class="monitorSpace">
            <table id="displayArea">
                <thead>
                    <tr>
                        <th>Notifications</th>
                        <th>Date & Time</th>
                        <th>WorkSpace Owner</th>
                        <th>WorkSpace ID</th>
                        <th>Attacker IP</th>
                    </tr>
                </thead>
                <tbody id="placeToInsert">
                </tbody>
            </table>
        </div>
        <div class="chart-wrapper">
            <ul class="chart-y">
                <li id="low-level">Low</li>
                <li id="elev-level">Elevated</li>
                <li id="mod-level">Moderate</li>
                <li id="high-level">High</li>
                <li id="crit-level">Critical</li>
            </ul>
            <ul class="chart-x">
                <li id="LowTherm" points="50" class="thermBlackText"></li>
                <li id="ElevatedTherm" points="100" class="thermBlackText"></li>
                <li id="ModerateTherm" points="150" class="thermBlackText"></li>
                <li id="HighTherm" points="200" class="thermBlackText"></li>
                <li id="CriticalTherm" points="250" class="thermBlackText"></li>
            </ul>
        </div>
    </div>
</div>
<div class="popup" id="popup_terminate">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <p>The environment has been terminated.</p>
    </div>
</div>
