@page
@model IndexModel
@{
    ViewData["Title"] = "Attack Monitoring Console";
}

<nav>
    <ul class="toolbar container" id="buttons">
        <li><span id="setup">Set Up WorkSpaces</span></li>
        <li><span id="deploy">Deploy WorkSpaces</span></li>
        <li><span id="saveLog">Save Log</span></li>
        <li><span id="terminate">Terminate Environment</span></li>
    </ul>
</nav>

<div class="page-wrapper-grid" id="monitorView">
    <div class="container content-top">
        <div class="top-row-1">
            <br />
            <h1>Attack Monitoring Console</h1>
            <br />
            <br />
        </div>
        <div class="top-row-2">
            <div class="content-left">
                <table>
                    <thead>
                        <tr>
                            <th>WorkSpace Owner</th>
                            <th>WorkSpace ID</th>
                            <th>Attacker IP</th>
                        </tr>
                    </thead>
                    <tbody id="insertAttackInfo">
                    </tbody>
                </table>
            </div>
            <div class="content-right">
                <h3>Threat Level: <span id="threatText"></span></h3>
                <div class="progress custom-progress" id="progressWrapper">
                    <div class="progress-bar custom-progress" id="threatIndicator">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container" id="bottomContent">
        <div class="content-left hidden-view" id="deployResourceMenu">
            <h4>Deploy Resources</h4>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Admin</td>
                        <td>joseph</td>
                        <td><span class="text-stopped">Stopped</span></td>
                        <td><button onclick="changeDeployStatus(event)">Deploy</button></td>
                    </tr>
                    <tr>
                        <td>Engineer</td>
                        <td>jake</td>
                        <td><span class="text-stopped">Stopped</span></td>
                        <td><button onclick="changeDeployStatus(event)">Deploy</button></td>
                    </tr>
                    <tr>
                        <td>HR Manager</td>
                        <td>justin</td>
                        <td><span class="text-stopped">Stopped</span></td>
                        <td><button onclick="changeDeployStatus(event)">Deploy</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="monitorSpace">
            <table id="displayArea">
                <thead>
                    <tr>
                        <th>Notifications</th>
                        <th>Date & Time</th>
                        @*<th>WorkSpace Owner</th>
                            <th>WorkSpace ID</th>
                            <th>Attacker IP</th>*@
                    </tr>
                </thead>
                <tbody id="insertKeylogs">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container hidden-view" id="setupView">
    <br />
    <h1>Setup WorkSpaces</h1>
    <br />
    <br />
    <form method="post">

        <fieldset class="form-list">
            <legend class="form-text-blue">WorkSpace Role</legend>
            <div>
                <input type="radio" name="role" value="Engineer" />
                <label for="Engineer">Engineer</label>
            </div>
            <div>
                <input type="radio" name="role" value="HRManager" />
                <label for="HRManager">HRManager</label>
            </div>
            <div>
                <input type="radio" name="role" value="Admin" />
                <label for="Admin">Admin</label>
            </div>
        </fieldset>
        <br />
        <br />
        <label for="username" class="form-text-blue">Workspace Username</label>&nbsp;&nbsp;&nbsp;
        <input name="username" value="" />
        <br />
        <br />
        <br />
        <h5>Cost To Set Up This WorkSpace: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="setupCost"></span></h5>
        <br />
        <br />
        <button type="submit">Generate WorkSpace</button>
    </form>

</div>



<div class="popup" id="popup_terminate">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <p>The environment has been terminated.</p>
    </div>
</div>
