@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="wrap">
    <br />
    <br />
    <div class="content-top">
        <div class="content-left">
            <h1>Attack Monitoring Console</h1>
            <br />
            <br />
            <div class="buttonArea">
                <button id="setup">Set Up Workspace</button>
                <button id="saveLog">Save Log</button>
                <button id="terminate">Terminate Environment</button>
            </div>
        </div>

        <div class="chart-wrapper">
            <ul class="chart-y">
                <li>Critical</li>
                <li>High</li>
                <li>Moderate</li>
                <li>Elevated</li>
                <li>Low</li>
            </ul>
            <ul class="chart-x">
                <li id="LowTherm" points="50"></li>
                <li id="ElevatedTherm" points="100"></li>
                <li id="ModerateTherm" points="150"></li>
                <li id="HighTherm" points="200"></li>
                <li id="CriticalTherm" points="250"></li>
            </ul>
        </div>
    </div>

    <div class="monitorSpace">
        <table id="displayArea">
            <thead>
                <tr>
                    <th>Notifications</th>
                    <th>Date/time logged</th>
                    <th>Workspace owner</th>
                    <th>Workspace Id</th>
                    <th>Attacker IP</th>
                </tr>
            </thead>
            <tbody id="placeToInsert">
            </tbody>

        </table>
    </div>
</div>

<div class="popup" id="popup_terminate">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <p>The environment has been terminated.</p>
    </div>
</div>





@section Scripts
{

}